header{
    background-color:#5989f7
}
header{
    padding-left: 5px;
    padding-right: 5px;
}
.headtekst{
    color: #FFEB00;
}

#knopcv{border-style: outset;
}
#knopindex{border-style: outset;}
#knopcontact{border-style: outset;}
a:hover{
    font-weight: bold;
    color: #E14343;
    background-color: #117554;
}
a:visited{
    color: #6EC207;
}
:link{color: #FFEB00;}

fieldset{background-color: #FFEB00;
    color: #4379F2;
}

body{
    background-color: #ddf8bd;
    color: #117554;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 480;
    font-style: normal}
body{
    margin: auto;
    max-width: 960px;
}
form {color: #d5f7d8;
width: 300px;}
#knopcontact{ border-radius: 6px;}
#knopindex{ border-radius: 6px;}
#knopcv{ border-radius: 6px;}
table{
    background-color: #e67463;
}
th{ background-color: #f5472c;}
footer{padding-left: 5px; padding-right: 5px;
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;
}


