header{
    background-color:#1c748a
}
.headtekst{
    color: #b55904;
}

#knopcv{border-style: outset;
}
#knopindex{border-style: outset;}
#knopcontact{border-style: outset;}
a:hover{
    font-weight: bold;
    color: red;
    background-color: #aafca4;
}
a:visited{
    color: orange;
}
:link{color: #eb5e5e;}

fieldset{background-color: #837087;}
body{background-color: #15021a;
color: #c1c0c2;}
body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 480;
    font-style: normal
}
form {color: #d5f7d8;
width: 300px;}
#knopcontact{ border-radius: 6px;}
#knopindex{ border-radius: 6px;}
#knopcv{ border-radius: 6px;}
table{
    background-color: #e67463;
}
th{ background-color: #f5472c;}
header{padding-left: 5px; padding-right: 5px;}
footer{padding-left: 5px; padding-right: 5px;}


